.about-block {
    background-color: #FFFFFF;
}

.about-block__list {
    padding: 0;
    margin-top: 260px;

    display: flex;
    justify-content: space-around;
}

.about-block__item {
    position: relative;
    width: 370px;

    display: flex;
    flex-direction: column;
}

.about-block__item:nth-child(1)::before {
    position: absolute;
    content: url(../img/bulb.svg);
    top: -150px;
    left: 140px;
}

.about-block__item:nth-child(2)::before {
    position: absolute;
    content: url(../img/keyboard.svg);
    top: -150px;
    left: 140px;
}

.about-block__item:nth-child(3)::before {
    position: absolute;
    content: url(../img/lightning.svg);
    top: -150px;
    left: 140px;
}

.about-block__header {
    text-align: center;
}

.about-block__text {
    margin-top: 45px;
    text-align: center;

}
