.pricing__wrapper {
    width: 100%;

    display: flex;
    justify-content: center;

    background-color: #F5F5F5;
}

.pricing {
    background-color: #F5F5F5;
}

.pricing__options {
    margin-top: 79px;
    gap: 30px;

    display: flex;
    justify-content: space-between;
}

.pricing__package {
    width: 370px;
    margin-bottom: 50px;

    list-style: none;
}

.pricing__package_active {
    margin-top: -20px;
    margin-bottom: auto;

    box-shadow: 0 4px 10px rgba(51, 51, 51, 0.2);
}

.pricing__info {
    background: #333333;
}

.pricing__info > * {
    border: 1px solid #F5F5F5;
}

.pricing__header {
    min-height: 60px;

    color: #FFFFFF;
}

.pricing__subheader {
    min-height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

.pricing__text {
    min-height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #86878B
}

.pricing__info-space {
    padding: 0;
}

.pricing__space {
    padding: 15px 0 15px 0;
    margin-top: 1px;

    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
    text-transform: capitalize;

    background-color: #FFFFFF;
    color: #86878B;
}
