.tabs-block {
    padding-top: 100px;
    background-color: #FFFFFF;
}

.tabs-block__items {
    display: flex;
}

.tabs-block__item {
    min-width: 203px;
    min-height: 40px;
    border: none;
    border-bottom: 1px solid #C6CBCD;
    padding: 13px 10px 13px 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    word-break: break-all;
    text-decoration: none;

    color: #333333;
    background-color: #FFFFFF;
}

.tabs-block__item:hover {
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}
.tabs-block__item:target{
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.tabs-block__empty-item {
    width: 100%;
    border-bottom: 1px solid #C6CBCD;
}

.tabs-block__body {
    border: 1px solid #C6CBCD;
    border-top: none;

    justify-content: space-between;

    display: none;
}

.tabs-block__body:target {
    display: flex;
}

.tabs-block__content {
    padding: 40px 41px 0 100px;
    display: flex;
    flex-direction: column;
}

.tabs-block__header {
    font-size: 30px;
    line-height: 41px;
}

.tabs-block__text {
    margin-top: 70px;
}

.tabs-block__text > p:not(:first-child) {
    margin-top: 20px;
}

.tabs-block__button {
    margin-top: 30px;
    margin-bottom: 50px;
}


